VITE_SUPABASE_PROJECT_ID="vkfloynvxqkxbqpdlzbd"
VITE_SUPABASE_PUBLISHABLE_KEY="eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InZrZmxveW52eHFreGJxcGRsemJkIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NzM0NDczMjUsImV4cCI6MjA4OTAyMzMyNX0.EbvNtvuQGgg-fqAF5jeRa5VwtOOPz1zTM3w_flu5Czo"
VITE_SUPABASE_URL="https://vkfloynvxqkxbqpdlzbd.supabase.co"
